<form action="/user" method="post">
    <table>
        <thead>
            <tr>
                <th>
                    <label for="UserName">Email: </label>
                    <input type="text" name="UserName" />
                </th>
                <th>
                    <button type="submit">Measure</button>
                </th>
            </tr>
        </thead>
    </table>
</form>