body {
  background-image: url("topography.png");
  color:black;
  font-family: consolas, Courier New, Courier, monospace;
  padding: 0% 10% 10% 10%;
  margin: 0;
}


h1.name {
  font-size: 40px;
}
h1.wiki {
  text-align: center;
}

h2.jobtitle {
  color: #61EEA3;
}
a {
  text-decoration: none;
  color: white;
}
nav {
  background: #333333;
  color: white;
  font-size: 30px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

  
}

p.separator {
  text-align: center;
  letter-spacing: 20px;
}

img.resize {
  width: 38px;  
  position: absolute;
  left: 10%;
}
