@{
    ViewData["Title"] = "Index";
}

<h2>Let's go and measure</h2>

<form action="/login" method="post">
    <table>
        <thead>
            <tr>
                <th>
                    <label for="UserName">Email: </label>
                    <input type="text" name="UserName" />
                </th>
                <th>
                    <button type="submit">Measure</button>
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</form>
