<table>
    <thead>
        <tr>
            <th>
                <form action="/admin" method="get">
                    <button type="submit">Admin</button>
                </form>
            </th>
            <th>
                <form action="/userlogin" method="get">
                    <button type="submit">User</button>
                </form>
            </th>
        </tr>
    </thead>
</table>