* {
  margin: 0px;
  padding: 0px;
}
div.bigbox {
  height: 520px;
  width: 350px;
  border-style: solid;
  border-width: 15px;
  border-color: rgb(66,133,244);
}

div {
  height: 130px;
  width: 350px;
}

div :first-child {
  background-color: rgb(230,118,118);
}

div :nth-child(2) {
  background-color: rgb(242,240,98);
}

div :nth-child(3) {
  background-color: rgb(169,230,230);
}

div :last-child {
  background-color: rgb(118,146,228);
}