* {
  margin: 0px;
  padding: 0px;
}
div.bigbox {
  height: 520px;
  width: 350px;
  border-style: solid;
  border-width: 15px;
  border-color: rgb(66,133,244);
  text-align: center;
  color: white;
  font-size: 36px;
  padding: 0;
}

div {
  height: 100px;
  width: 350px;
  padding-top: 30px;
}

div :nth-child(1) {
  background-color: rgb(230,118,118);
}

div :nth-child(2) {
  background-color: rgb(242,240,98);
}

div :nth-child(3) {
  background-color: rgb(169,230,230);
}

div :nth-child(4) {
  background-color: rgb(118,146,228);
}

p.transparent {
  background-color: transparent;
}