div {
    padding: 0.5%;
    margin: auto;
}

.frame {   
    width: 80%;
    height: 80%;
    border: 3px solid green;
}

.notcard {  
    height: 5%;
    border-bottom: 3px solid green;
    text-align: center;
    font-size: 150%;
}

.cards {
    height: 35%;
    border-bottom: 3px solid green;
}

#card {
    height: 150px;
    margin: auto;
    width: 10%;
    float: left;
    text-align: center;
    font-size: 150%;
    background-size: cover;
    background-repeat: no-repeat;
    color: darkorchid;
    font-weight: 800;
}

.spades {
    background-image: url("/images/spades.png");
}

.diamonds {
    background-image: url("/images/diamonds.png");
}

.hearts {
    background-image: url("/images/hearts.png");
}

.clubs {
    background-image: url("/images/clubs.png");
}

.row {
    float:left;
}
