div {
    padding: 0.5%;
    margin: auto;
}

.frame {   
    width: 50%;
    height: 80%;
    border: 3px solid green;
}

.notcard {  
    height: 5%;
    border-bottom: 3px solid green;
    text-align: center;
    font-size: 150%;
}

.cards {
    height: 35%;
    border-bottom: 3px solid green;
}
