div {
    padding: 0.5%;
    margin: auto;
}

form, p {
    float:left;
}
.frame {   
    width: 85%;
    height: 85%;
    border: 3px solid gold;
    background-color: green;
}

.notcard {  
    height: 5%;
    border-bottom: 3px solid gold;
    text-align: center;
    font-size: 150%;
    color: white;
    font-weight: 800;
}

.cards {
    height: 35%;
    border-bottom: 3px solid gold;
}

#card {
    height: 150px;
    width: 10%;
    float: left;
    text-align: left;
    background-size: contain;
    background-position:bottom right;
    background-repeat: no-repeat;
    color: darkorchid;
    font-weight: 800;
    border: 3px solid black;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
}

.spades {
    background-image: url("/images/spades.png");
}

.diamonds {
    background-image: url("/images/diamonds.png");
}

.hearts {
    background-image: url("/images/hearts.png");
}

.clubs {
    background-image: url("/images/clubs.png");
}

.button {
    text-align: center
}