<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/todo" method="post">
        <label for="Title">New Todo: </label>
        <input type="text" id="Title" name="Title" />
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>