.king, .slave {
    width:18%;
    float:left;
    text-align:right;
    background-color: saddlebrown;
    border: 2px solid gold;
    font-family: Calibri;
    font-size: 18px;
}
.form {
    width: auto;
}

.row {
    width: 100%;
    float: none;
}

.king {
    animation: random 1s infinite;
}

.slave {
    color: silver;
}

@keyframes random {
    15% {
        color: red;
    }

    30% {
        color: yellow;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: white;
    }
}