div {
  height: 250px;
  width: 350px;
  border: 20px solid rgb(66, 133, 244);
  margin: 10px;
}

div.small1 {
  height: 125px;
  width: 350px;
  background-color: rgb(230,118,118);
  border-width: 0;
  margin: 0;
}