* {
  padding: 0;
  margin: 0;
  text-align: center;
}
div {
  height: 250px;
  width: 350px;
  border: 20px solid rgb(66, 133, 244);
  margin: 10px;
  font-size: 36px;
  color: white;
}

div.small1 {
  height: 85px;
  width: 350px;
  background-color: rgb(230,118,118);
  border-width: 0;
  margin: 0;
  padding-top: 40px;
}

div.small2 {
  height: 85px;
  width: 350px;
  background-color: rgb(169,230,230);
  border-width: 0;
  margin: 0;
  padding-top: 40px;
}