p {
    height: 30px;
    width: 30px;
    background-color: blue;
    margin: 10px;
    float: left;
}

div {
    border: 1px solid blue;
    width: 500px;
    height: 50px;
    margin: 10px;
}

div:last-of-type {
    background-color: rebeccapurple;
}

p.nd {
    background-color: red;
}