@model BlackJack.Model.Deck
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Black Jack</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <p>@Model.Cards[0].GetInfo()</p>
</body>
</html>