@model BlackJack.Model.Deck
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Black Jack</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="frame">
        <div class="notcard">Dealer</div>
        <div class="cards"></div>
        <div class="notcard">YOU</div>
        <div class="cards"></div>
        <div class="notcard">BUTTON1 BUTTON2</div>
    </div>
</body>
</html>